/* ---------------------------------- General Styling */
body {
    font-family: "Simonetta", Tahoma,
        sans-serif;
    font-weight: 400;
    background-color: #D3D3D3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", Tahoma, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-list {
    list-style: none;
}

/* ---------------------------------- Borders */
.border-slim {
    border: solid 1px black;
}

/* ---------------------------------- Images */
/* Assitance from ChatGpt */
.gallery .col-lg-4,
.gallery .col-md-6,
.gallery .col-sm-6 {
    padding: 10px;
}

.image-container {
    position: relative;
    /* This sets the height to be equal to the width */
    padding-bottom: 100%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Maintain the aspect ratio and fill the container */
    object-fit: cover;
}

/* ---------------------------------- Footer */
.footer-icon {
    font-size: 60px;
    margin: 15px;
}

.footer-ht {
    height: 300px;
}

.font-color {
    color: #D3D3D3;
}

/* ---------------------------------- Media queries */
/* For screens 575px and above */
@media screen and (min-width: 575px) {
    .footer-ht {
        height: 150px;
    }

    #footer-heading {
        font-size: 40px;
    }
}