/* General Styling */
body {
    font-family: "Simonetta", Tahoma,
        sans-serif;
    font-weight: 400;
    background-color: #D3D3D3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", Tahoma, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-list {
    list-style: none;
}