/* ---------------------------------- General Styling */
body {
    font-family: "Simonetta", Tahoma,
        sans-serif;
    font-weight: 400;
    background-color: #D3D3D3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", Tahoma, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-list {
    list-style: none;
}

/* ---------------------------------- Footer */
.footer-icon {
    font-size: 60px;
    margin: 15px;
}

.footer-ht {
    height: 300px;
}

.font-color {
    color: #D3D3D3;
}

/* ---------------------------------- Media queries */
/* For screens 575px and above */
@media screen and (min-width: 575px) {
    .footer-ht {
        height: 150px;
    }

    #footer-heading {
        font-size: 40px;
    }
}

/* For screen 914px and above */
/* @media screen and (min-width: 914px) {
    .container-image {
        width: 457px;
        height: 350px;
        overflow: hidden;
    }

    .container-image img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
    }
} */