<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% extends "base.html" %}

<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'new_booking' %}" class="btn btn-success elmt-trans mb-2"
        >New Booking</a
      >
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- Bookings column -->
    <div class="col-12 mt-2">
      <div class="row">
        {% for booking in bookings %}
        <div class="col-md-4">
          <div
            class="card mb-3 bg-body-tertiary elmt-trans"
            data-bs-theme="dark"
          >
            <a href="{% url 'booking_detail' booking.slug booking.id %}">
              <div class="card-body">
                <div>
                  {% if "placeholder" in booking.featured_image.url %}
                  <img
                    src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1689588558/edited_49_3_1_sn6m0q.jpg"
                    alt="default booking image"
                    class="card-image img-fluid"
                  />
                  {% else %}
                  <img
                    src="{{ booking.featured_image.url }}"
                    alt="custom booking image"
                    class="card-image img-fluid"
                  />
                  {% endif %}
                  <div class="card-text mt-3">
                    <h2>{{ booking.babys_name}}'s Newborn Shoot</h2>
                    <p>Client: {{ booking.client }}</p>
                    <p>Booking: {{ booking.booking_date }}</p>
                    {% if booking.location == 1 %}
                    <p>Location: Home</p>
                    {% else %}
                    <p>Location: Studio</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">
        {% endif %}
        <!-- Assitance from code institutes Hello Django walkthrough tutorials -->
        {% empty %}
        <div class="container-fluid">
          <p>You currently have no bookings</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li
        ><a
          href="?page={{ page_obj.previous_page_number }}"
          class="btn btn-secondary elmt-trans"
          >&laquo; PREV
        </a></li
      >
      {% endif %} {% if page_obj.has_next %}
      <li
        ><a
          href="?page={{ page_obj.next_page_number }}"
          class="btn btn-success elmt-trans"
        >
          NEXT &raquo;</a
        ></li
      >

      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

{% endblock content %}
