<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="A newborn photography hub for clients to book, view, change or cancel appointments online">
    <meta keywords="newborn, newborn photography, photogrphy booking, booking, photographer, newborn photographer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/c1b12b8cf9.js" crossorigin="anonymous"></script>
    <title>Newborn Photography Hub</title>
</head>

<body>

</body>

</html>