<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% extends "base.html" %} {% block content %}

<!-- Main blogs image -->
<img
  class="img-fluid"
  src="/static/images/baby-2-1.jpg"
  alt="newborn baby with a blanket in heart shaped box"
/>

<!-- First blog -->
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col">
      <h4>NEWBORN BABY PHOTOS SWANLEY- CREATING BEAUTIFUL MEMORIES</h4>
      <hr />
      <h5>Eliana’s newborn session</h5>
      <p>
        Photographing all of these little tiny newborn is always such a
        privilege! If you are looking to book in a newborn photoshoot these
        sessions are best when your little one is under 2 weeks of age. I do
        photograph newborn up to 8 weeks old, the older they get the the more
        awake the photos may be rather than sleepy poses, thats not to say you
        still can’t get the cutest photos.
      </p>
      <hr />
      <h5>Here is some information about the sessions</h5>
      <ul>
        <li>My photography studio is based in Sidcup DA14</li>
        <li
          >It’s a £99 deposit to secure a session and this is deducted from your
          chosen package. You can find my newborn packages
        </li>
        <li>Family and sibling photos can be included</li>
        <li>Newborn sessions generally last about 3 hours</li>
        <li>
          I have everything in my studio needed for the session, all you need to
          bring is nappies and milk 🙂
        </li>
        <li>
          Your newborn photos will be ready to view 3 weeks after you session
          via a private online gallery
        </li>
      </ul>
      <hr />
      <p>Here are some of my favourites photos from Eliana’s session 😊</p>
      <!-- Images here -->
      <div class="row justify-content-center">
        <div class="col-8">
          <img
            class="img-fluid border-slim"
            src="/static/images/baby-2-2.jpg"
            alt="newborn baby with headband wrapped in blanket"
          />
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-8">
          <img
            class="img-fluid border-slim"
            src="/static/images/baby-2-3.jpg"
            alt="wrapped up newborn baby"
          />
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-8">
          <img
            class="img-fluid border-slim"
            src="/static/images/baby-2-4.jpg"
            alt="newborn baby with headband sleeping on hands"
          />
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-8">
          <img
            class="img-fluid border-slim"
            src="/static/images/baby-2-5.jpg"
            alt="newborn baby with headband sleeping on hands"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container-fluid mt-3
  <div class="row">
    <div class="col">
      <h4>HOW TO PREPARE FOR A NEWBORN SESSION – 5 TIPS FOR SUCCESS</h4>
      <hr />
      <p>
        It can be daunting thinking about how your newborn session will go.
        During a lot of my newborn sessions a lot of parents apologies when
        their baby is feeding for ages or won’t settle, but this is normal
        during a session, please don’t worry. We just have to go with the flow
        and allow your baby to have all the cuddles and feeds they need for a
        successful session. I want you to all feel comfortable during our
        newborn photography session and not feel rushed. A rushed session will
        lead to your baby probably being unsettled and you not getting the
        photos that you want. If you have booked in a newborn session and are
        thinking about how to prepare for it this blog will be very helpful to
        you!
      </p>
      <h5>Here are 5 tips for preparing for your newborn session</h5>
      <!-- Images here -->
      <div class="row justify-content-center">
        <div class="col-md-4 mt-3">
            <img
            class="img-fluid"
            src="/static/images/baby-17-1.jpg"
            alt="newborn baby sleeping on pillow from above"
          />
        </div>
        <div class="col-md-4 mt-3">
            <img
            class="img-fluid"
            src="/static/images/baby-17-2.jpg"
            alt="newborn baby sleeping on hand with blanket and pillow"
          />
        </div>
        <div class="col-md-4 mt-3">
            <img
            class="img-fluid"
            src="/static/images/baby-17-3.jpg"
            alt="parents hands holding their newborn baby"
          />
        </div>
      </div>
      <br />
      <h6
        >1. Have an idea of the colours, style and photos you would like
        included in your session.</h6
      >
      <p>
        When you book in your newborn photography with me in your booking form I
        will ask you to attach some photos that you like from my website. This
        will give me an idea of the styles you prefer and if you like using
        props or not as many props. Not every client will want the same style of
        photos, While I do have my own style and flow that I stick to when
        photographing throughout the newborn session, I always cater to the
        parents choice of colours and preferences.
      </p>
      <p>
        You should also think about if you would like to be in some photos with
        your newborn. This is something I always include if the parents wish to
        and even if you are not sure I encourage that you do as these photos
        will be an important memory for you. If you decide you don’t like the
        family photos with you in, You don’t have to purchase them within your
        package!
      </p>
      <br />
      <h6>2. Feeding your newborn baby</h6>
      <p>
        I suggest that you try and feed your newborn baby just before you get to
        the session. If you are driving from a while away you can feed them when
        you get to my studio. It’s always best to start with a milk drunk baby
        🙂 We can stop as many times as needed during the session for extra
        feeds. Some babies will cluster feed while others will have a long feed
        then sleep for a longer amount of time.
      </p>
      <br />
      <h6>3. What to bring with you to your newborn session</h6>
      <ul>
        <li
          >Bring your newborn baby dressed in a loose baby grow. This will make
          it easier to take off when starting the session</li
        >
        <li>Pacifier/dummy if you use one</li>
        <li>Spare nappies</li>
        <li>Baby blankets</li>
        <li>Extra bottles if bottle feeding</li>
        <li>Any newborn keepsakes you would like in the photos</li>
      </ul>
      <br />
      <h6>4. Your role during the newborn session</h6>
      <p>
        During the newborn session most of the time you will just be able to sit
        back and relax and watch. I will be wrapping and posing your baby
        through out the session so you will not need to do this. There may be
        times When I am photographing your newborn that I may ask if you can
        help. Your babies safety is always my top priory during newborn sessions
        and there are a few poses where I would need a parent to just sit next
        to the baby and spot them to make sure they are secure while I am
        photographing, you can see some examples below.
      </p>
      <!-- Images here -->
      <br />
      <h6>5. How long the session will last</h6>
      <p>
        My newborn sessions last about 3 hours, they can be anywhere from 2 1/2
        to 4 hours. This always varies as every baby is different and has their
        own little personalities. If your newborn baby is a very sleepy baby and
        sleeps all the way through the session will be quicker. Also the
        sessions are usually longer if you want to include parent or sibling
        photos as well.
      </p>
      <br />
      <p>
        I hope this blog helped you with any questions you may of had with how
        to prepare for a newborn session!
      </p>
      <!-- Images here -->
    </div>
  </div>
</div>

{% endblock content %}
