<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% extends "base.html" %} {% block content %}

<!-- Main blogs image -->

<!-- First blog -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>NEWBORN BABY PHOTOS SWANLEY- CREATING BEAUTIFUL MEMORIES</h4>
      <br />
      <h5>Eliana’s newborn session</h5>
      <p>
        Photographing all of these little tiny newborn is always such a
        privilege! If you are looking to book in a newborn photoshoot these
        sessions are best when your little one is under 2 weeks of age. I do
        photograph newborn up to 8 weeks old, the older they get the the more
        awake the photos may be rather than sleepy poses, thats not to say you
        still can’t get the cutest photos.
      </p>
      <br />
      <h5>Here is some information about the sessions</h5>
      <ul>
        <li>My photography studio is based in Sidcup DA14</li>
        <li
          >It’s a £99 deposit to secure a session and this is deducted from your
          chosen package. You can find my newborn packages
        </li>
        <li>Family and sibling photos can be included</li>
        <li>Newborn sessions generally last about 3 hours</li>
        <li
          >I have everything in my studio needed for the session, all you need
          to bring is nappies and milk 🙂</li
        >
        <li
          >Your newborn photos will be ready to view 3 weeks after you session
          via a private online gallery</li
        >
      </ul>
      <br />
      <p>Here are some of my favourites photos from Eliana’s session 😊</p>
      <!-- Images here -->
    </div>
  </div>
</div>

{% endblock content %}
