<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% extends "base.html" %}

{% block content %}
<div>
    <h1>Booking Details</h1>
</div>
<ul>
    <!-- General Details -->
    <li>Booking Name: {{ booking.booking_name }}</li>
    <li>Date: {{ booking.booking_date }}</li>
    <li>Time: {{ booking.booking_time }}</li>
    <li>Baby's Name: {{ booking.babys_name }}</li>
    <li>Baby's Due Date: {{booking.babys_due_date }}</li>

    <!-- Baby's Gender -->
    {% if booking.babys_gender == 1 %}
    <li>Baby's Gender: Male </li>
    {% elif booking.babys_gender == 2 %}
    <li>Baby's Gender: Female </li>
    {% else %}
    <li>Baby's Gender: Unknown </li>
    {% endif %}

    <!-- Booking Location -->
    {% if booking.location == 1 %}
    <li>Location: Home</li>
    {% else %}
    <li>Location: Studio</li>
    {% endif %}

    <!-- Requests & How you found me -->
    <li>Special Requests: {{ booking.special_requests|safe }}</li>
    <li>How You Found Me: {{ booking.how_you_found_me }}</li>

    <!-- Media Consent -->
    {% if booking.consent == 1 %}
    <li>Consent to use images: Yes</li>
    {% else %}
    <li>Consent to use images: No</li>
    {% endif %}

    <li>Uploaded Image: {{ booking.featured_image }}</li>

    <!-- Booking Status -->
    {% if booking.status == 1 %}
    <li>Booking Status: Confirmed</li>
    {% else %}
    <li>Booking Status: Awaiting Confirmation</li>
    {% endif %}
</ul>

<!-- Admin Todo List -->
{% if user.is_superuser %}
<div class="row">
    <div class="col-md-3">
        <a href="#" type="button" class="btn btn-primary btn-lg">Add Todo</a>
    </div>
</div>
{% endif %}

<!-- Edit Booking -->
<div class="row">
    <div class="col-md-3">
        <a href="{% url 'edit_booking' booking.slug booking.id %}" type="button" class="btn btn-success btn-lg">Edit
            Booking</a>
    </div>

    <!-- Button trigger modal -->
    <div class="col-md-3">
        <button type="button" class="deleteBtn btn btn-danger btn-lg" onclick="deleteModal('#myModal2')">
            Delete Booking
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="confirmCancelModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmCancelModalLabel">Delete Booking</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this booking?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'delete_booking' booking.slug booking.id %}" type="button"
                        class="btn btn-danger">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}