<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% extends "base.html" %}

<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Bookings column -->
            <div class="col-12 mt-2">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}