<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% extends "base.html" %} {% block content %}

<img
  class="img-fluid"
  src="/static/images/baby-5.jpg"
  alt="newborn baby sleeping wearing headband"
/>

<div class="container-fluid text-center">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <hr />
      <p>
        London photography studio based in South East London – From bump to baby
        photography
      </p>
      <br />
      <h6>Phone</h6>
      <p>07700 900719</p>
      <br />
      <h6>E-mail</h6>
      <p>newborn@photographyhub.com</p>
      <br />
      <h6>Where am I based?</h6>
      <p>I am based in Sidcup, South East London</p>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        Looking for Newborn photoshoot in London or Kent? Contact us at
        newborn@photographyhub.com to book your Newborn / baby photography
        sessions.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
