<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% extends "base.html" %} {% block content %}

<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% load crispy_forms_tags %}

<div>
  <h1>Edit Todo Item:</h1>
</div>
<div class="container-fluid">
  <!-- Assistance from ChatGpt -->
  <form method="post">
    {% csrf_token %}
    <div class="container-fluid">
      <div class="form-group">
        {{ form.title|as_crispy_field }}
        <small class="text-muted">Please enter a name for this Todo item</small>
      </div>
      <div class="form-group">
        {{ form.details|as_crispy_field }}
        <small class="text-muted"
          >Please enter the details for this Todo item</small
        >
      </div>
      <div class="form-group">
        {{ form.due_date|as_crispy_field }}
        <small class="text-muted"
          >Please enter the due date for this Todo item in an accepted format:
          dd-mm-yy or dd-mm-yyyy</small
        >
      </div>
      <div class="form-group">
        {{ form.due_time|as_crispy_field }}
        <small class="text-muted"
          >Please enter times in a 24 hour clock format, i.e. 13:00</small
        >
      </div>
      <div class="form-group"> {{ form.completed|as_crispy_field }} </div>
    </div>
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary btn-lg elmt-trans"
            >Update</button
          >
        </div>
        <!-- Button trigger modal -->
        <div class="col-md-1">
          <button
            type="button"
            class="deleteBtn btn btn-danger btn-lg elmt-trans"
            data-target-modal="#myModal4"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="myModal4"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmCancelModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmCancelModalLabel"
          >Cancel Edit Todo Item</h1
        >
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel this edit of the Todo item?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary elmt-trans"
          data-bs-dismiss="modal"
          >Close</button
        >
        <a
          href="{% url 'booking_detail' booking_slug booking_id %}"
          type="button"
          class="btn btn-primary elmt-trans"
          >Confirm</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock content %}
