<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% extends "base.html" %} {% block content %}
<!-- Main Gallery Image -->
<div class="row justify-content-center">
  <img
    class="img-fluid"
    src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690260318/baby-8_eix4qs.jpg"
    alt="sleeping newborn baby with headband and blanket"
  />
</div>

<!-- Gallery images -->
<div class="container-fluid">
  <hr />
  <div class="row gallery">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690260396/baby-13_hsoesv.jpg"
          alt="baby in a woven basket with flowers and blanket"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690260458/baby-9_znglds.jpg"
          alt="sleeping baby with arms cross in woven basket"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690260590/baby-1-2_ygy3io.jpg"
          alt="baby wrapped in blanket sleeping in basket"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690260687/baby-4-2_j5ya4b.jpg"
          alt="sleeping baby wrapped in blanket with fingers sticking out"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690260761/baby-6_ahrg1g.jpg"
          alt="sleeping baby with blanket on soft white surface"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690260836/baby-15_t6csgt.jpg"
          alt="sleeping newborn baby with headband and blanket on soft white cushion"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690260912/baby-17-4_jvtepp.jpg"
          alt="newborn baby sleeping on his hands"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690260990/baby-4-3_woq1ve.jpg"
          alt="newborn baby wrapped in blanket with hands and feet sticking out"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690261057/baby-3-1_alx7x2.jpg"
          alt="newborn baby in basket with headband and wrapped in a blanket"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690261116/baby-16_dhg4th.jpg"
          alt="sleeping baby with parents hands holding the baby"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690261228/baby-18_cshh8i.jpg"
          alt="sleeping baby sleeping on his hands"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="https://res.cloudinary.com/dvvi4mkst/image/upload/v1690261275/baby-19_svsssx.jpg"
          alt="sleeping baby sleeping on soft white cushion"
      /></div>
    </div>
  </div>
</div>

{% endblock content %}
