<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% extends "base.html" %} {% block content %}
<!-- Main Gallery Image -->
<img
  class="img-fluid"
  src="/static/images/baby-8.jpg"
  alt="sleeping newborn baby with headband and blanket"
/>

<!-- Gallery images -->
<div class="container-fluid">
  <hr />
  <div class="row gallery">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-13.jpg"
          alt="baby in a woven basket with flowers and blanket"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-9.jpg"
          alt="sleeping baby with arms cross in woven basket"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-1-2.jpg"
          alt="baby wrapped in blanket sleeping in basket"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-4-2.jpg"
          alt="sleeping baby wrapped in blanket with fingers sticking out"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-6.jpg"
          alt="sleeping baby with blanket on soft white surface"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-15.jpg"
          alt="sleeping newborn baby with headband and blanket on soft white cushion"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-17-4.jpg"
          alt="newborn baby sleeping on his hands"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-4-3.jpg"
          alt="newborn baby wrapped in blanket with hands and feet sticking out"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-3-1.jpg"
          alt="newborn baby in basket with headband and wrapped in a blanket"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-16.jpg"
          alt="sleeping baby with parents hands holding the baby"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-18.jpg"
          alt="sleeping baby sleeping on his hands"
      /></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="image-container"
        ><img
          src="/static/images/baby-19.jpg"
          alt="sleeping baby sleeping on soft white cushion"
      /></div>
    </div>
  </div>
</div>

{% endblock content %}
