<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% extends "base.html" %}

{% block content %}

<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% load crispy_forms_tags %}

<div>
    <h1>New Booking Request</h1>
</div>
<div class="container-fluid">
    <!-- Assistance from ChatGpt -->
    <form method="post" enctype="multipart/form-data">
        {{ form|crispy }}
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
                <div class="col-md-1">
                    <a href="{% url 'bookings' %}" class="btn btn-danger btn-lg">Cancel</a>
                </div>
            </div>
        </div>

    </form>
</div>

{% endblock content %}