<!-- Assitance from code institutes I think therefore I blog walkthrough tutorials -->
{% extends "base.html" %}

{% block content %}
<div>
    <h1>New Booking Request</h1>
</div>
<div class="container-fluid">
    <form>
        <!-- Booking Name -->
        <div class="mb-3">
            <label for="booking-name" class="form-label">Booking Name</label>
            <input type="text" class="form-control" id="booking-name" aria-describedby="bookingName" required>
            <div id="emailHelp" class="form-text">Please enter a name for this booking request.</div>
        </div>

        <!-- Booking Date & Time -->
        <div class="mb-3">
            <label for="booking-date" class="form-label">Booking Date:</label>
            <input type="date" class="form-control" id="booking-date" required>
        </div>
        <div class="mb-3">
            <label for="booking-time" class="form-label">Booking Time:</label>
            <input type="time" class="form-control" id="booking-time" required>
        </div>

        <!-- Gender Selection -->
        <div>
            <h4>Baby's Gender</h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender-unknown">
                <label class="form-check-label" for="gender-unknown" checked>
                    Unknown
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender-male">
                <label class="form-check-label" for="gender-male">
                    Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender-female">
                <label class="form-check-label" for="gender-female">
                    Female
                </label>
            </div>
        </div>

        <!-- Baby's due date -->
        <div class="mb-3">
            <label for="due-date" class="form-label">Due Date:</label>
            <input type="date" class="form-control" id="due-date">
            <div class="form-text">Please enter your baby's due date, if applicable.</div>
        </div>

        <!-- Location Selection -->
        <div>
            <h4>Location</h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="location" id="location-studio">
                <label class="form-check-label" for="location-studio" checked>
                    Studio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="location" id="location-home">
                <label class="form-check-label" for="location-home">
                    Home
                </label>
            </div>
        </div>

        <!-- Special Requests -->
        <div class="input-group">
            <span class="input-group-text">Requests:</span>
            <textarea class="form-control" aria-label="special-requests-area"
                placeholder="If you have any additional request, please let me know here"></textarea>
        </div>

        <!-- How did you hear about me -->
        <div class="input-group">
            <span class="input-group-text">How did you hear about us?</span>
            <textarea class="form-control" aria-label="how-you-heard-about-us"
                placeholder="Please could you kindly let me know how you heard about us"></textarea>
        </div>

        <!-- Media usage consent -->
        <div>
            <h4>Media Consent:</h4>
            <p>Would you mind if we used the media from your photoshoot anonymously for business promotion?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="consent" id="consent-yes">
                <label class="form-check-label" for="consent-yes" checked>
                    Yes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="consent" id="consent-no">
                <label class="form-check-label" for="consent-no">
                    No
                </label>
            </div>
        </div>

        <!-- File upload -->
        <div class="mb-3">
            <label for="booking-img" class="form-label">Booking Image:</label>
            <input type="file" class="form-control" id="booking-img">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock content %}